html{
    color:#f0f0f0;
    background:#222324;
    /* background:#0a0a0a; */
    font-family:Arial;
}
body{
    color:#f0f0f0;
    /* background:#0a0a0a; */
    background:#222324;
    margin:0;
    padding:0;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
h1{
    text-align:center
}
footer{
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
