<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Food cost estimator</title>
        <meta name="description" content="Food-cost-estimator">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="./static/imgs/64_favicon.png">
        <!-- You MUST include jQuery 3+ before Fomantic -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
        <!-- Fomantic UI -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
        <!-- custom -->
        <link rel="stylesheet" type="text/css" href="static/style.css">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <div class="ui mini menu inverted">
            <a class="active item" href="/">
                Home
            </a>
            {% if is_admin == "True" %}
                <a class="item" href="/craft_recipe" >
                    Craft Recipe
                </a>
                <a class="item" href="/edit_recipes" >
                    Edit Recipes
                </a>
                <a class="item" href="/craft_ingredient">
                    Craft Ingredient
                </a>
                <a class="item" href="/edit_ingredients">
                    Edit Ingredients
                </a>
            {% else %}
                <a class="item" href="#" onclick="alert_invalid_admin()">
                    Craft Recipe
                </a>
                <a class="item" href="#" onclick="alert_invalid_admin()">
                    Edit Recipes
                </a>
                <a class="item" href="#" onclick="alert_invalid_admin()">
                    Craft Ingredient
                </a>
                <a class="item" href="#" onclick="alert_invalid_admin()">
                    Edit Ingredients
                </a>
            {% endif %}
            <div class="right menu">
                {% if ((username == "None") or (username is none )) %}
                <div class="item">
                    <a href="/signin">
                        <div class="ui primary button">Log-in</div>
                    </a>
                </div>
                {% else %}
                <div class="item">
                    {{ username }}
                </div>
                <div class="item">
                    <a href="/logout">
                        <div class="ui primary button">Sign Out</div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="ui message red alertMsg" id="is_admin_alert">
            <div class="header">You must be logged in as an admin to edit.</div>
        </div>
        <header>
            <h1>Food Cost Estimator</h1>
        </header>
        <main>
        {% block main_content %}
        {% endblock %}
        </main>
        <footer>
            by <a href="https://github.com/tadyen">tadyen</a>. <a href="https://github.com/tadyen/food-cost-estimation-platform">Source code</a>
        </footer>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script>
            var locked=false
            function alert_invalid_admin(){
                if(locked === false){
                    locked = true;
                    if( "{{ is_admin }}" == "True"){
                        $('#is_admin_alert').css("visibility", "hidden");
                        $('#is_admin_alert').css("opacity", "0");
                    }
                    else{
                        $('#is_admin_alert').css("visibility", "visible");
                        $('#is_admin_alert').css("opacity", "1");
                        setTimeout(() => {
                            $('#is_admin_alert').css("opacity", "0");
                            setTimeout(() => {
                                $('#is_admin_alert').css("visibility", "hidden");
                                locked = false;
                            }, 1000);
                        }, 5000);
                    }
                }
                return
            }

            $('#is_admin_alert').ready(function(){
                $('#is_admin_alert').css("visibility", "hidden");
                $('#is_admin_alert').css("opacity", "0");
            })

        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>