{% extends "base.html" %}

{% set ns = namespace( 
    entries_per_page=recipe_table["entries_per_page"],
    page_number=recipe_table["page_number"],
    search_string=recipe_table["search_string"],
    sort_by=recipe_table["sort_by"],
    order=recipe_table["order"],
    table_name=recipe_table["table_name"],
    starting_entry_index=recipe_table["starting_entry_index"],
    ending_entry_num=recipe_table["ending_entry_num"],
    total_num_of_pages=recipe_table["total_num_of_pages"],
    total_num_of_results=recipe_table["total_num_of_results"],
    results_in_page=recipe_table["results_in_page"] 
    ) 
%}

{% block styles %}
<style>
    #a_this_table_number{
        border: solid 1px white;
    }
    .or::before {
        opacity: 15%;
    }
    .th_invis{
        color: #FFFFFF00 !important;
        border-style: none none solid none !important;
    }
    .toast-container{
        margin: 5vh 0 0 0;
    }
</style>
{% endblock %}

{% block subheading %}
    <h2>Editting: Recipes</h2>
{% endblock %}

{% block main_content%}
    <div class="wrapper">
    <div class="ui inverted segment">
        <div class="ui form inverted">
            <div class="inline fields">
                <div class="fourteen wide field">
                    <input type="text" id="input_search" placeholder="Search for a recipe eg. Cake">
                </div>
                <div class="two wide field">
                    <div class="ui submit button buttonSearchSubmit">
                        <i class="search icon"></i>
                        Search
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if ns.total_num_of_results == 0 %}
    <div class="ui icon message">
        <i class="box open icon"></i>
        <div class="content">
        <div class="header">
            No results found.
        </div>
        <p>Try a different search?</p>
        </div>
    </div>
{% else %}
    <table class="ui celled very compact small striped table inverted">
        <thead><tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Tags</th>
            <th>vw/edt/sv/crt</th>
            <th>delete</th>
        </tr></thead>
        <tbody>
            {% for li in ns.results_in_page %}
                {% set id = li["id"] | int %}
                <tr id="tr_recipes_{{id}}">
                    <th id="th_id_{{id}}">{{id}}</th>
                    <th id="th_name_{{id}}">{{li["name"]}}</th>
                    <th id="th_desc_{{id}}">{{li["description"]}}</th>
                    <th id="th_tags_{{id}}">{{li["tags"]}}</th>
                    <th>
                        <button class="ui button inverted basic teal buttonView" id="b_view_{{id}}" data-id={{id}}>View</button>
                        <button class="ui button inverted olive buttonEdit hide" id="b_edit_{{id}}" data-id={{id}}>Edit</button>
                        <div class="ui buttons duoButtonUpdate hide" id="b_duo_update_{{id}}">
                            <button class="ui button grey buttonCancelUpdate" id="b_cancelUpdate_{{id}}" data-id={{id}}>Cancel</button>
                            <div class="or" data-text=""></div>
                            <button class="ui button inverted green buttonUpdate" id="b_update_{{id}}" data-id={{id}}>Update</button>
                        </div>
                    </th>
                    <th>
                        <button class="ui button inverted red buttonPreDelete" id="b_preDel_{{id}}" data-id={{id}}>Delete</button>
                        <div class="ui buttons duoButtonDelete hide" id="b_duo_delete_{{id}}">
                            <button class="ui button grey buttonCancelDelete" id="b_cancelDel_{{id}}" data-id={{id}}>Cancel</button>
                            <div class="or" data-text=""></div>
                            <button class="ui button inverted red buttonConfirmDelete" id="b_confirmDel_{{id}}" data-id={{id}}>Confirm</button>
                        </div>
                        <button class="ui button secondary disabled buttonDeleted hide" id="b_deleted_{{id}}">Deleted</button>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4">
            <div class="ui right floated pagination menu inverted">
                {% if ns.page_number != 1  %}
                    <a class="icon item tablePage" data-pagenum="{{1}}">
                        <i class="angle double left icon" ></i>
                    </a>
                    <a class="icon item tablePage" data-pagenum="{{ns.page_number-1}}">
                        <i class="angle left icon"></i>
                    </a>
                {% endif %}
                {% set start_page_num = ns.total_num_of_pages - 4 %}
                {% set end_page_num = ns.page_number + 4 %}
                {% if end_page_num > ns.total_num_of_pages %}
                    {% set end_page_num = ns.total_num_of_pages %}
                {% endif %}
                {% if start_page_num < 1 %}
                    {% set start_page_num = 1 %}
                {% endif %}
                {% if start_page_num > ns.page_number %}
                    {% set start_page_num = ns.page_number %}
                {% endif %}
                {% for x in range(start_page_num, end_page_num+1) %}
                    {% if x == ns.page_number %}
                        <a class="item tablePage" id="a_this_table_number" data-pagenum="{{x}}">{{x}}</a>
                    {% else %}
                        <a class="item tablePage" data-pagenum="{{x}}">{{x}}</a>
                    {% endif %}
                {% endfor %}
                {% if not (ns.page_number >= ns.total_num_of_pages) %}
                    <a class="icon item tablePage" data-pagenum="{{ns.page_number+1}}">
                        <i class="angle right icon"></i>
                    </a>
                    <a class="icon item tablePage" data-pagenum="{{ ns.total_num_of_pages }}">
                        <i class="angle double right icon"></i>
                    </a>
                {% endif %}
            </div>
        </th>
        <th colspan="2">Page {{ns.page_number}} of {{ns.total_num_of_pages}}, Entries {{ns.starting_entry_index+1}}-{{ns.ending_entry_num}} shown of {{ns.total_num_of_results}}</th>
        </tr></tfoot>
    </table>

    <table class="ui celled table inverted long unstackable">
        <thead>
            <tr>
                <th colspan="6" id="i_table_recipe_name"></th>
                <th colspan="1" class="th_invis" id="this is here only for spacing">asdf</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Unit</th>
                <th>Cost/unit</th>
                <th>Cost of ingredient</th>
                <th>
                    <button class="ui button small inverted green buttonIngAdd hide">&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </th>
            </tr>
        </thead>
        <tbody id="i_table_tbody">
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endif %}
    <div class="ui small inverted modal">
        <div class="header">Search for ingredient</div>
        <div class="content">
            <div class="ui category search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="type something...">
                    <i class="search icon"></i>
                </div>
                <div class="results searchResults"></div>
                <div class="ui left pointing red basic label hide ingAlreadyInRecipeWarn">
                    Ingredient already in recipe!
                </div>
            </div>
        </div>
        <div class="actions">
        <div class="ui approve green button">Add Ingredient</div>
        <div class="ui cancel button">Cancel</div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
var page_number = {{ns.page_number}};
var entries_per_page = {{ns.entries_per_page}};
var search_string = "{{ ns.search_string }}";
var sort_by = "{{ns.sort_by}}";
var order = "{{ns.order}}";

var recipe_inglist = [];
var previous_id_clicked = 0
var recipe_id_being_edited = 0

var selected_ing_id_to_add = null

$.fn.api.settings.api = {
    'get recipe list' : '/api/get_recipe_ingredients?recipe_id={id}',
};

$(".buttonIngAdd").on("click", function (e){
    $('.ui.modal')
    .modal({
        inverted: false,
        blurring: false,
        dimmerSettings: {
        variation: 'light',
        },
        onVisible: function(){
            selected_ing_id_to_add = null
            $('.ingAlreadyInRecipeWarn').toggleClass("hide",  true)
        },
        onHide: function(){
            $('.ui.search').search('set value', '')
        },
        onApprove: function(){
            ing_id = selected_ing_id_to_add
            if(ing_id == null){
                return false
            }
            if(get_ingredient_list_in_current_recipe().includes(ing_id)){
                $('.ingAlreadyInRecipeWarn').toggleClass("hide",  false)
                return false
            }
            add_new_ingredient_row(ing_id)
            return true
        },
    })
    .modal('show');
});

$(".ui.search")
    .search({
    apiSettings: {
        url: 'api/search_ingredients_mini?search_string={query}',
    },
    searchDelay: 500,
    onSelect: function(result,response){
        selected_ing_id_to_add = result["id"]
    },
    cache: false,
    selectFirstResult: false,
    preserveHTML: false,
    })

$('.buttonView')
    .api({
        action: 'get recipe list',
        successTest: function(response) {
            // test whether a JSON response is valid
            return response.success || false;
        },
        onSuccess: function(response, element, xhr) {
            console.log(`response success: ${response.success}`)
            view_button_actions($(this), response.results)
        },
        onFailure: function(response, element, xhr) {
            // request failed, or valid response but response.success = false
            console.log("response failed at:")
            console.log($(this))
            console.log("on")
            console.log($.fn.api.settings.api['get recipe list'])
        },
    })
;

function get_ingredient_list_in_current_recipe(){
    let id_list = []
    $('.trIng')
        .one("load",function(){
            id = $(this).data()['id']
            id_list.push(id)
        })
        .trigger("load")
    return id_list
}

function post_updated_recipe_in_page(){
    rec_id = recipe_id_being_edited
    let ing_list = []
    let failed = false
    $('.trIng')
    .one("load",function(){
        id = $(this).data()['id']
        amt = Number($(`#td_ing_amt_${id}`).text())
        if(amt <= 0 ){
            failed = true
            return false
        }
        ing_list.push({
            "ingredient_id" : id,
            "amount_of_units" : amt,
        })
    })
    .trigger("load")
    if(failed){
        return false
    }
    rec_name = $(`#th_name_${rec_id}`).text()
    rec_desc = $(`#th_desc_${rec_id}`).text()
    rec_tags = $(`#th_tags_${rec_id}`).text()
    $.post("/api/update_recipe", {id: rec_id, name: rec_name, description: rec_desc, tags: rec_tags})
    payload = JSON.stringify({'recipe_id': rec_id, 'ingredients_list': ing_list})
    console.log(payload)
    $.post("/api/update_recipe_ingredients", {raw_json_str:payload})
    console.log("POST request - Update recipe")
    return true
}

function view_button_actions(jq, values){
    id = jq.data()['id']
    recipe_name = $(`#th_name_${id}`).text()
    reset_views_button_group(previous_id_clicked)
    previous_id_clicked = id
    $(`#b_view_${id}`).toggleClass('hide',true)
    $(`#b_edit_${id}`).toggleClass('hide',false)
    generate_ingredients_table(recipe_name,values)
}

$('.buttonEdit').on("click",function(e){
    id = $(this).data()['id']
    recipe_id_being_edited = id
    $(`#b_edit_${id}`).toggleClass('hide',true)
    $(`#b_duo_update_${id}`).toggleClass('hide',false)
    convert_to_input($(`#th_name_${id}`))
    convert_to_input($(`#th_desc_${id}`))
    convert_to_input($(`#th_tags_${id}`))
    $('.buttonIngRemove').toggleClass('hide',false)
    $('.buttonIngAdd').toggleClass('hide',false)
    $('.tdIngAmt')
        .one("load", function(e){
            convert_to_input($(this))
        })
        .trigger("load")
    $('.buttonPreDelete').toggleClass('disabled',true)
});

$('.buttonCancelUpdate').on("click",function(e){
    id = $(this).data()['id']
    $("#i_table_recipe_name").text("")
    $("#i_table_tbody").empty()
    reset_views_button_group(id)
});

$('.buttonUpdate').on("click",function(e){
    let id = $(this).data()['id']
    $('.inputFromField')
    .one("load", function(e){
        deconvert_input($(this),'update')
    })
    .trigger("load")
    if(post_updated_recipe_in_page()){
        reset_views_button_group(id)
        $.toast({
            message: 'Updated recipe!',
            position: 'top center',
            class : 'center aligned inverted green',
            className: {
                toast: 'ui message'
            },
            displayTime:  5000,
        });
    }else{
        $.toast({
            message: 'Invalid amount set somewhere',
            position: 'top center',
            class : 'center aligned inverted red',
            className: {
                toast: 'ui message'
            },
            displayTime:  5000,
        });
        return false
    }
});

function convert_to_input(jq){
    textContent = jq.text()
    elem_id = jq[0].id
    new_elem_id = `conv_${elem_id}`
    jq.empty()
    if(jq.hasClass("tdIngAmt")){
        new_input_stuff = $(`
        <div class="ui small fluid inverted input inputFromField" id="${new_elem_id}">
            <input type="number" min="0.000000000000001" class="inputNewVal" value="${textContent}">
            <input type="number" min="0.000000000000001" class="inputOldVal hide" value="${textContent}" disabled>
        </div>
        `)
    }else{
        new_input_stuff = $(`
        <div class="ui small fluid inverted input inputFromField" id="${new_elem_id}">
            <input type="text" class="inputNewVal" value="${textContent}">
            <input type="text" class="inputOldVal hide" value="${textContent}" disabled>
        </div>
        `)
    }
    jq.append(new_input_stuff)
    if(jq.hasClass("tdIngAmt")){
        let elem = new_input_stuff.find('.inputNewVal')
        elem.on("change",function(){
            ing_id = jq.data()['id']
            cpu_elem = $(`#td_ing_CPU_${ing_id}`)
            cost_elem = $(`#td_ing_cost_${ing_id}`)
            amt = elem.val()
            cpu = cpu_elem.data()['cpu']
            cost = Number(amt) * Number(cpu)
            cost_elem.text(`$ ${cost.toFixed(2)}`)
        })
    }
}

function deconvert_input(jq, option){
    inputNewVal_elem = jq.find('.inputNewVal')[0]
    inputOldVal_elem = jq.find('.inputOldVal')[0]
    elem_id = jq[0].id
    orig_elem_id = elem_id.slice(5)
    if(option == "update"){
        textContent = inputNewVal_elem.value
    }else if(option == "revert"){
        textContent = inputOldVal_elem.value
    }else{
        console.error("INVALID OPTION")
        return
    }
    $(`#${orig_elem_id}`).empty()
    $(`#${orig_elem_id}`).text(textContent)
    return
}

function generate_ingredients_table(recipe_name, values){
    // [ "eg. Sugar",
    //   "g",
    //   150.0,
    //   0.00227666666 ]
    $("#i_table_recipe_name").text(recipe_name)
    $("#i_table_tbody").empty()
    if( values == null || values.length == 0){
        return
    }
    for(let i of values){
        let ing_id = i["id"]
        let ing_name = i["name"]
        let ing_unit = i["unit"]
        let ing_amt = i["amount_of_units"]
        let ing_cpu = i["cost_per_unit"]
        let ing_cost = parseFloat(ing_amt) * parseFloat(ing_cpu)
        let new_tr = $(`
        <tr class="trIng" id="tr_ing_${ing_id}" data-id="${ing_id}">
            <td>${ing_id}</td>
            <td>${ing_name}</td>
            <td class="tdIngAmt" id="td_ing_amt_${ing_id}" data-id="${ing_id}">${ing_amt}</td>
            <td>${ing_unit}</td>
            <td class="tdIngCPU" data-id="${ing_id}" data-cpu="${ing_cpu}" id="td_ing_CPU_${ing_id}">$ ${ing_cpu.toFixed(6)}</td>
            <td class="tdIngCost" id="td_ing_cost_${ing_id}">$ ${ing_cost.toFixed(2)}</td>
            <td><button class="ui button small inverted red buttonIngRemove hide" id="b_ingRem_${ing_id}" data-id="${ing_id}">Remove</button></td>
        </tr>
        `)
        $("#i_table_tbody").append(new_tr)
    }
    $('.buttonIngRemove').on("click", function(e){
        id = $(this).data()['id']
        $(`#tr_ing_${id}`).remove()
    })
}

function add_new_ingredient_row(ing_id){
    $.get(`api/get_ingredient_by_id?id=${ing_id}`, function(response, status){
        let ing_data = []
        if(response.success == true){
            ing_data = response.results[0]
        }
        if(ing_data == null || ing_data.length == 0){
            return
        }
        let new_ing_id = ing_data['id']
        let ing_name = ing_data['name']
        let ing_unit = ing_data['unit']
        let ing_cpu = ing_data['cost_per_unit']
        let new_tr = $(`
            <tr class="trIng" id="tr_ing_${new_ing_id}" data-id="${new_ing_id}">
                <td>${new_ing_id}</td>
                <td>${ing_name}</td>
                <td class="tdIngAmt" id="td_ing_amt_${new_ing_id}" data-id="${new_ing_id}">0</td>
                <td>${ing_unit}</td>
                <td class="tdIngCPU data-id="${new_ing_id}" data-cpu="${ing_cpu}" id="td_ing_CPU_${new_ing_id}"">$ ${ing_cpu.toFixed(6)}</td>
                <td class="tdIngCost" id="td_ing_cost_${new_ing_id}">$ 0</td>
                <td><button class="ui button small inverted red buttonIngRemove" id="b_ingRem_${new_ing_id}" data-id="${new_ing_id}">Remove</button></td>
            </tr>
        `)
        $("#i_table_tbody").append(new_tr)
        convert_to_input($(`#td_ing_amt_${new_ing_id}`))
        $('.buttonIngRemove').on("click", function(e){
            id = $(this).data()['id']
            $(`#tr_ing_${id}`).remove()
        })
    })
}

function reset_views_button_group(id){
    $(`#b_view_${id}`).toggleClass('hide',false)
    $(`#b_edit_${id}`).toggleClass('hide',true)
    $(`#b_duo_update_${id}`).toggleClass('hide',true)
    $('.inputFromField')
    .one("load", function(e){
        deconvert_input($(this),'revert')
    })
    .trigger("load")
    $('.buttonIngRemove').toggleClass('hide',true)
    $('.buttonIngAdd').toggleClass('hide',true)
    $('.buttonPreDelete').toggleClass('disabled',false)
}

$().ready(function(){
    $('.buttonView').toggleClass('hide',false)
    $('.buttonEdit').toggleClass('hide',true)
    $('.duoButtonUpdate').toggleClass('hide',true)
    $('.buttonPreDelete').toggleClass('hide',false)
    $('.duoButtonDelete').toggleClass('hide',true)
    $('.buttonDeleted').toggleClass('hide',true)
});

$(".tablePage").on( "click",
    function(e){
        let next_pagenum = $(this).data()['pagenum'];
        if(next_pagenum == {{ns.page_number}}){
            return;
        }
        link = `/edit_recipes?entries_per_page=${entries_per_page}&page_number=${next_pagenum}&search_string=${search_string}&sort_by=${sort_by}&order=${order}`;
        $(this).attr("href", link);
    }
);

$('#input_search').on('keydown', function(e){
    if( $(this).is(":focus") ){
        if(e.originalEvent.key == 'Enter'){
            submit_search($(this).val())
        }
    }
});
$('.buttonSearchSubmit').on("click", function(e){
    submit_search($('#input_search').val())
});
function submit_search(new_search_string){
    link = `/edit_recipes?entries_per_page=${entries_per_page}&page_number=${1}&search_string=${new_search_string}&sort_by=${sort_by}&order=${order}`;
    window.location.replace(link);
}

$(".buttonPreDelete").on( "click",
    function(e){
        id = $(this).data()['id']
        $(`#b_preDel_${id}`).toggleClass('hide',true)
        $(`#b_duo_delete_${id}`).toggleClass('hide',false)
    }
);
$(".buttonCancelDelete").on( "click",
    function(e){
        id = $(this).data()['id']
        $(`#b_preDel_${id}`).toggleClass('hide',false)
        $(`#b_duo_delete_${id}`).toggleClass('hide',true)
    }
);
$(".buttonConfirmDelete").on( "click",
    function(e){
        id = $(this).data()['id']
        $(`#b_preDel_${id}`).toggleClass('hide',true)
        $(`#b_duo_delete_${id}`).toggleClass('hide',true)
        $(`#b_deleted_${id}`).toggleClass('hide',false)
        $(`#tr_recipes_${id}`).empty()
        new_stuff = $(`
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><button class="ui button hide">View</button></th>
            <th><button class="ui button secondary disabled buttonDeleted">Deleted</button></th>
        `);
        $(`#tr_recipes_${id}`).append(new_stuff)
        $.post("/api/delete_recipe", {recipe_id: id})
    }
);


</script>
{% endblock %}