{% extends "base.html" %}
{% block styles %}
<style>
    .wrapper{
        margin: 0 auto;
        width: 90vw;
    }
    #a_this_table_number{
        border: solid 1px white;
    }
    .hide{
        display: none !important;
    }
    .or::before {
        opacity: 15%;
    }
</style>
{% endblock %}
{% block main_content%}
<div class="wrapper">
<table class="ui celled very compact small striped table inverted">
    <thead><tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Tags</th>
        <th>vw/edt/sv/crt</th>
        <th>delete</th>
    </tr></thead>
    <tbody>
        {% for tup in recipes %}
            {% set id = tup[0] | int %}
            <tr>
                <th>{{id}}</th>
                <th>{{tup[1]}}</th>
                <th>{{tup[2]}}</th>
                <th>{{tup[3]}}</th>
                <th>
                    <button class="ui button inverted basic teal buttonView" id="b_view_{{id}}" data-id={{id}}>View</button>
                    <button class="ui button inverted basic olive buttonEdit" id="b_edit_{{id}}" data-id={{id}}>Edit</button>
                    <div class="ui buttons duoButtonUpdate">
                        <button class="ui button grey buttonCancelUpdate" id="b_cancelUpdate_{{id}}" data-id={{id}}>Cancel</button>
                        <div class="or" data-text=""></div>
                        <button class="ui button inverted green buttonUpdate" id="b_update_{{id}}" data-id={{id}}>Update</button>
                    </div>
                </th>
                <th>
                    <button class="ui button inverted red buttonPreDelete" id="b_preDel_{{id}}" data-id={{id}}>Delete</button>
                    <div class="ui buttons duoButtonDelete">
                        <button class="ui button grey buttonCancelDelete" id="b_cancelDel_{{id}}" data-id={{id}}>Cancel</button>
                        <div class="or" data-text=""></div>
                        <button class="ui button inverted red buttonConfirmDelete" id="b_confirmDel_{{id}}" data-id={{id}}>Confirm</button>
                    </div>
                    <button class="ui button secondary disabled buttonDeleted" id="b_deleted_{{id}}">Deleted</button>
                </th>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
        <div class="ui right floated pagination menu inverted">
            {% if current_page != 1  %}
                <a class="icon item"href="/edit_recipes_old?tableNum={{1}}">
                    <i class="angle double left icon" ></i>
                </a>
                <a class="icon item" href="/edit_recipes_old?tableNum={{current_page-1}}">
                    <i class="angle left icon"></i>
                </a>
                <a class="item" href="/edit_recipes_old?tableNum={{current_page-1}}">{{current_page-1}}</a>
            {% endif %}
            <a class="item" id="a_this_table_number">{{current_page}}</a>
            {% set page_num = current_page + 1%}
            {% set end_page_num = current_page + 3 %}
            {% if end_page_num > no_of_pages %}
                {% set end_page_num = no_of_pages %}
            {% endif %}
            {% for x in range(page_num, end_page_num+1) %}
                <a class="item" href="/edit_recipes_old?tableNum={{x}}">{{x}}</a>
            {% endfor %}
            {% if not (current_page >= no_of_pages) %}
                <a class="icon item" href="/edit_recipes_old?tableNum={{current_page+1}}">
                    <i class="angle right icon"></i>
                </a>
                <a class="icon item" href="/edit_recipes_old?tableNum={{no_of_pages}}">
                    <i class="angle double right icon"></i>
                </a>
            {% endif %}
        </div>
      </th>
      {% set last_entry_index = starting_index + recipes|length %}
      <th colspan="2">Page {{current_page}} of {{no_of_pages}}, Entries {{starting_index+1}}-{{last_entry_index}} shown</th>
    </tr></tfoot>
</table>
</div>
{% endblock %}
{% block scripts %}
<script>
$.fn.api.settings.api = {
    'get recipe list' : '/api/get_recipe_ingredients?recipe_id={id}',
};
var recipe_inglist = []
$('.buttonView')
  .api({
    action: 'get recipe list',
    onResponse: function(response) {
      // make some adjustments to response
      console.log("asdf onResponse")
      return response;
    },
    successTest: function(response) {
      // test whether a JSON response is valid
      console.log("asdf successTest")
      return response.success || false;
    },
    onComplete: function(response, element, xhr) {
        console.log("asdf onComplete")
        recipe_ingredient_list = response.message
        console.log(recipe_ingredient_list.length)
      // always called after XHR complete
    },
    onSuccess: function(response, element, xhr) {
      // valid response and response.success = true
      console.log("asdf onSuccess")
    },
    onFailure: function(response, element, xhr) {
      // request failed, or valid response but response.success = false
      console.log("asdf onFailure")
    },
    onError: function(errorMessage, element, xhr) {
      // invalid response
      console.log("asdf onError")
    },
    onAbort: function(errorMessage, element, xhr) {
        console.log("asdf onAbort")
      // navigated to a new page, CORS issue, or user canceled request
    }
  })
;
$().ready(function(){
    $('.buttonView').toggleClass('hide',false)
    $('.buttonEdit').toggleClass('hide',true)
    $('.duoButtonUpdate').toggleClass('hide',true)
    $('.buttonPreDelete').toggleClass('hide',false)
    $('.duoButtonDelete').toggleClass('hide',true)
    $('.buttonDeleted').toggleClass('hide',true)
});
$('.buttonConfirmDelete').on("click", function(e){
    e.target.classList.add('hide')
});
function b_edit_click(id){
    console.log(id)
    console.log(recipe_ingredient_list.length())
}
</script>
{% endblock %}