{% extends "base.html" %}
{% block styles %}
<style>
    form{
        margin: 0 auto;
        top: 20vh;
        width: 50%;
    }
</style>
{% endblock %}
{% block main_content %}
<div class="wrapper">
<form class="ui form inverted" method="POST">
    <div class="ui message red invalid_user">
        <div class="header">Invalid username or password entered</div>
    </div>
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username eg. notadmin" required>
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password eg. admin1234" required>
    </div>
    <button class="ui button deny" type="submit" >Log-in</button>
</form>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('.invalid_user').ready( () => {
        $('.invalid_user').css("visibility", "hidden")
        if( "{{ invalid_user }}" == "True"){
            console.log("show")
            $('.invalid_user').css("visibility", "visible")
        }
        else{
            $('.invalid_user').css("visibility", "hidden")
        }
    })
</script>
{% endblock %}